.acesso {
    border-radius: 23px;
    margin: 20px 0;
    padding: 25px;
    display: flex;
    height: 65%;
    align-items: center;
    justify-content: space-between;
    transition: ease .3s;
}

.acesso:hover {
    transform: translateY(-7px);
}

.acessoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acessoInfo h3 {
    margin-top: -10px;
    font-size: 38px;
}

.acesso i {
    padding: 19px !important;
    border-radius: 50px;
    font-size: 20px;
}

.acesso_tipoB.blueLink {
    background-color: rgb(241, 244, 255);
    color: rgba(12, 36, 109, 0.751);
    border: 1px solid rgba(12, 36, 109, 0.278);
}

.acesso_tipoB.blueLink i {
    border: 1px solid rgba(12, 36, 109, 0.751);
    color: rgb(241, 244, 255);
    background-color: rgba(12, 36, 109, 0.751);
    transition: ease .3s;
}

.acesso_tipoB.blueLink i:hover {
    background-color: rgb(241, 244, 255);
    border: 1px dashed rgba(12, 36, 109, 0.751);
    color: rgba(12, 36, 109, 0.751);
}
