

.rowForms {

height: 100vh;
display: flex;
justify-content: center !important;
width: 100%;
    align-content: center;
    align-self: center;
    
}

.rowForms h2{
    text-align: center;
    margin-bottom: 30px;
}

.formsSistemaCadastro {
    width: 100%;
    padding: 70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.208) 1px 1px 20px 1px;
}

.btnCadastro {
    margin-top: 10px;
    padding: 5px 50px !important;
}

input {
    border-color: rgba(32, 32, 32, 0.484) !important;
}

.link {
    text-decoration: none !important;
    font-weight: 500;
    color: #0671d8;
}