
/* .formu {
display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
} */

.formsSistema {
    width: 100%;
    
}

.titulocad h2 {
    padding-top: 65px;
   font-size: 40px; 
   text-align: center;
   
}

.rowForms {
    
    display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 10px;
}

/* .btnCadastroPai{
    display: flex !important;
    align-items: center !important;
justify-content: center;
} */

.btnCadastro {
    margin-top: 10px;
    padding: 5px 50px !important;
}

input {
    border-color: rgba(32, 32, 32, 0.484) !important;
}

.link {
    text-decoration: none !important;
    font-weight: 500;
    color: #0671d8;
}