

.rowForms {

height: 100vh;
display: flex;
justify-content: center !important;
width: 100%;
    align-content: center;
    align-self: center;
    
}

.rowForms h2{
    text-align: center;
    margin-bottom: 30px;
}

.formsSistemaCadastro {
    background-color:   rgba(232, 238, 255, 0.584);
    width: 100%;
    padding: 70px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.208) 1px 1px 20px 1px;
}

.formsSistemaCadastro input{
    border-radius: 10px;
    border: 1px solid rgba(5, 15, 46, 0.221);
    padding: 12px !important;
    transition: ease .3s !important;
    background-color: rgba(5, 15, 46, 0.049);
}

.formsSistemaCadastro input:hover{
    border: 1px solid rgba(5, 15, 46, 0.364);
    background-color: rgba(5, 15, 46, 0.105);
}

.formsSistemaCadastro input:focus-visible{
    box-shadow: none !important;
    border: 1px solid rgba(5, 15, 46, 0.364);
    background-color: rgba(5, 15, 46, 0.105);
}


.btnCadastro {
    background-color: rgba(5, 15, 46, 0.073);
    border-radius: 10px;
    padding: 10px 50px;
    border: 1px solid rgba(5, 15, 46, 0.227);
    color: rgba(5, 15, 46, 0.703);
    font-weight: 700;
    font-size: 17px;
    transition: .3s ease;
}

.btnCadastro:hover{
    background-color: rgba(5, 15, 46, 0.162);
    transform: translateY(-3px);
}

.link {
    text-decoration: none !important;
    font-weight: 500;
    color: #0671d8;
}