
.calendarioSide {
    border-radius: 20px;
    border: none;
}

.p-calendar {
    height: 100%;
   
}

.calendarioSide .p-datepicker-group-container {
    height: 100%;
}

.calendarioSide .p-datepicker.p-component.p-datepicker-inline.p-ripple-disabled {
    background-color: aquamarine;
    border: aquamarine;
    border-radius: 20px;
    color: red;
}

.calendarioSide .p-datepicker-group {
    height: 100%;
}

.calendarioSide .p-datepicker-header {
    height: 10%;
    background-color: aquamarine;
}

.calendarioSide .p-datepicker-header button {
    color: red;
    font-size: 13px;
}

.calendarioSide .p-highlight{
    background-color: red;
    color: white;
}

.calendarioSide .p-datepicker-today span{
    background-color: blue;
    color: white;
}

.calendarioSide .p-highlight:hover{
    background-color: red;
    color: white;
}

.calendarioSide td span{
    transition: all .2s;
}

.calendarioSide td span:hover{
    background-color: red;
    color: white;
    transform: translateY(-7px);
}


/*tarefas diárias*/