.calendarioSide{
    display: flex;
    flex-direction: column;
    justify-content: right !important;
    margin: 15px ;
    /* border-radius: 20px; */
    padding: 20px ;
    position: fixed;
    right: 0;
    top: 0;
    /* width: 25%; */
    height: 95%;
    visibility: visible;
}

.calendarioSide .p-calendar{
    height: 45%;
}

.calendarioSide .p-datepicker-group-container{
    height: 100%;
}

.calendarioSide .p-datepicker-group{
    height: 100%;
}

.calendarioSide .p-datepicker-header{
    height: 10%;
}

.calendarioSide .p-datepicker-header button{
    color: red;
    font-size: 13px;
}