
.calendarioSide {
    border-radius: 20px;
    border: none;
}

.p-calendar {
    height: 100%;
   
}

.calendarioSide .p-datepicker-group-container {
    height: 100%;
}

.calendarioSide .p-datepicker.p-component.p-datepicker-inline.p-ripple-disabled {
    background-color: rgb(145, 70, 101);
    border: rgb(145 70 101);
    border-radius: 20px;
    color: rgb(254 248 248);
}

.calendarioSide .p-datepicker-group {
    height: 100%;
}


.calendarioSide .p-highlight{
    background-color: rgb(100, 51, 71);
    color: rgb(254 248 248);
}


.calendarioSide .p-highlight:hover{
    background-color: rgb(100, 51, 71);
    color: rgb(254 248 248);
}


.calendarioSide .p-datepicker-header {
    height: 10%;
    background-color: rgb(145 70 101);
    border-bottom: rgb(145 70 101);
}

.calendarioSide .p-datepicker-header button {
    color: rgb(254 248 248);
    font-size: 13px;
}


.calendarioSide .p-datepicker-today span{
    background-color:rgb(254 248 248);
    color:  rgb(100, 51, 71);
}


.calendarioSide td span{
    transition: all .2s;
}

.calendarioSide td span:hover{
    background-color: rgb(100, 51, 71);
    color: rgb(254 248 248);
    transform: translateY(-7px);
}



/*tarefas diárias*/