.graficoCliente{
    margin: 40px 0;
    padding: 30px;
    border-radius: 25px;
    background-color: #bfdaff39;
}

.graficoCliente h5{
    color: #0673d8;
}

.graficoCliente h5::after{
    content: '';
    margin-left: 15px;
    position: absolute;
    height: 1px;
    top: 41.4%;
    width: 19%;
    background-color: #0673d8a9;
}