.formsSistemaGeral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 20px;
}

.formsSistema label {
    font-weight: 600;
    color: rgba(5, 15, 46, 0.733);
}

.formsSistema input {
    border-radius: 10px;
    border: 1px solid rgba(5, 15, 46, 0.221);
    padding: 14px !important;
    transition: ease .3s !important;
    background-color: rgba(5, 15, 46, 0.049);
}

.formsSistema input:hover {
    border: 1px solid rgba(5, 15, 46, 0.364);
    background-color: rgba(5, 15, 46, 0.105);
}

.formsSistema input:focus-visible {
    box-shadow: none !important;
    padding: 17px !important;
    background-color: rgba(5, 15, 46, 0.105);
    border: 1px solid rgba(5, 15, 46, 0.364);
    color: rgb(5, 15, 46);
}

.formsSistema input::placeholder{
    color: rgba(5, 15, 46, 0.667);
}

.formsSistema input:placeholder-shown{
    color: rgba(5, 15, 46, 0.667);
}

.formsSistema select {
    border-radius: 10px;
    border: 1px solid rgba(5, 15, 46, 0.221);
    padding: 14px !important;
    transition: ease .3s !important;
    background-color: rgba(5, 15, 46, 0.049);
}

.formsSistema select:hover {
    border: 1px solid rgba(5, 15, 46, 0.364);
    background-color: rgba(5, 15, 46, 0.105);
}

.formsSistema select:focus-visible {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    padding: 17px !important;
    background-color: rgba(5, 15, 46, 0.105);
    border: 1px solid rgba(5, 15, 46, 0.364);
    color: rgb(5, 15, 46);
}

.formsSistema .p-divider.p-component.p-divider-horizontal.p-divider-solid.p-divider-left{
    background-color: rgb(5, 15, 46) !important;
}

.btnFormSistema {
    display: flex;
    justify-content: end;
}

.btnFormSistema button {
    background-color: rgba(5, 15, 46, 0.073);
    border-radius: 10px;
    padding: 10px 50px;
    border: 1px solid rgba(5, 15, 46, 0.227);
    color: rgba(5, 15, 46, 0.703);
    font-weight: 700;
    font-size: 17px;
    transition: .3s ease;
}

.btnFormSistema button:hover {
    background-color: rgba(5, 15, 46, 0.162);
    transform: translateY(-3px);
}

.numeroInput {
    display: block;
    width: 100%;
}

.modalForm{
    border-radius: 40px;
}

.modalForm.p-dialog .p-dialog-header {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(239, 243, 255);
    color: rgba(5, 15, 46, 0.733);
}

.modalForm.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(239, 243, 255);
}

.btnModal {
    display: flex;
    justify-content: center;
    margin: 17px;
    background-color: rgba(5, 15, 46, 0.073);
    border-radius: 16px;
    width: 100%;
    border: 2px dashed rgba(5, 15, 46, 0.227);
}

.btnModal:hover {
    background-color: rgba(5, 15, 46, 0.132);
    border: 2px dashed rgba(5, 15, 46, 0.264);
}

.btnModal:focus{
    box-shadow: none;
}

.btnModal h5, .btnModal i{
    color: rgba(5, 15, 46, 0.697) !important;
    font-size: 14px;
    margin:  auto 0;
}