.loginContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    align-content: center;
    align-self: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.208) 1px 1px 20px 1px;
}

.login h2 {
    text-align: center;
    margin-bottom: 30px;
}


.quadroForm {
    display: flex;
}

.quadroForm form {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    align-content: center;
}

.quadroForm button {
    width: 100%;
    padding: 8px;
    margin-top: 12px;
}

.login .link {
    text-decoration: none !important;
    font-weight: 500;
    color: #0671d8;
}

.quadroForm input {
    border-color: rgba(32, 32, 32, 0.484);
}