.sideBar {
    background: linear-gradient(135deg, rgb(254 248 248) 50%, rgba(250, 237, 237, 0.767));
    margin: 15px 0;
    border-radius: 20px;
    padding: 20px 0;
    position: fixed;
    width: 14%;
    height: 95%;
    border: 1px solid rgba(145, 70, 101, 0.137);
    overflow-y: scroll  !important;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(145 70 101) rgb(254 248 248);
    visibility: visible;
}

.navProfile{
    display: flex;
    align-items: center;
}

.navProfile img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 80px;
    object-fit: cover;
}


.navProfileInfo h4 {
    color: rgb(145 70 101);
    font-weight: 600;
}

.sideBarResponsivo{
    visibility: hidden;
    border: unset;
}

.sideBarResponsivo button{
margin: 10px 0;
    border-radius: 10px;
    color: rgb(145 70 101);
    border-color: rgb(145 70 101);
    background-color:  rgb(254 248 248);
}



@media (max-width: 1000px){
    .sideBarResponsivo{
        visibility: visible;
    }

    .sideBar{
        visibility: hidden;
    }
}

.sideNavContent {
    list-style-type: none !important;
}

.sideNavContent li {
    display: flex;
}

.headerLineNav {
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: -17px;
    color: rgba(145, 70, 101, 0.868);
    border-top: 1px solid rgba(145, 70, 101, 0.171);
}


.lineNavLink {
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: .3s ease;
    width: 90%;
}

.lineNavLink:hover {
    background-color: rgba(145, 70, 101, 0.19);
    transform: translateX(12px);
}

.lineNavLink a {
    text-decoration: none;
    color: rgb(145 70 101);
}

.lineNavLink.linkAtivo{
    background-color: rgb(145 70 101);
}
