.rightBar {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right !important;
    margin: 15px;
    border: 1px solid rgba(145, 70, 101, 0.137);
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 95%;
    visibility: visible;
    overflow-y: scroll  !important;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(145 70 101) rgb(254 248 248);
    background: linear-gradient(135deg, rgb(254 248 248) 50%, rgba(250, 237, 237, 0.767));
}


